body{
    background-color: #efefef;
    color: black;
}

ol,ul{
    list-style: none;
}

body > main .downloadResume{
    padding: 20px 55px;
    line-height: 16px;
    font-size: 14px;
    border: 1px solid red;
    display: inline-block;
    background-color: #efefef;
    border: 1px solid #CDCFD1;
    border-radius: 2px;
    color: #3d4451;
    font-weight: bold;
    margin: 30px 0;
    transition: box-shadow 0.1s;
}

body > main .downloadResume:hover{
    box-shadow: 0px 4px 13px 0px rgba(0,0,0,0.5);
}

body > main .downloadResume-wrapper{
    text-align: center;
}


h1,h2,h3,h4,h5,h6{
    font-weight: bold;
}

h1,h2,h3,h4,h5,h6,p{
    padding: 0;
    margin: 0;
}

a{
    color: inherit;
    text-decoration: none;
}

.clearfix:after{
    content: '';
    display: block;
    clear: both;
}

[data-x].offset{
    transform: translateY(50px);
}
[data-x]{
    transform: translateY(0);
    transition: all 0.3s;
}



.TopNavBar
{
    padding: 25px 0;
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    color:#b7b7b7;
    transition: all 0.5s;
}

.TopNavBar.sticky{
    background: white;
    z-index: 1;
    padding: 10px 0;
    box-shadow: 0 0 10px rgba(0,0,0,0.25);
    color: #3d4451;
}

.TopNavBar-inner{
    padding: 0 16px;
}
.TopNavBar nav{
    padding-top: 5px;
}
.TopNavBar nav>ul
{
    list-style: none;
    margin: 0px;
    padding: 0px;
}
 

.TopNavBar nav > ul > li{
    float: left;
    margin-left: 15px;
    margin-right: 15px;
    position: relative;
}

.TopNavBar nav > ul > li > a{
    font-size: 12px;
    color:inherit;
    font-weight: bold;
    border-bottom: 1px solid transparent;
    padding-top: 5px;
    display: block;
    border-top: 1px solid transparent;
    padding-bottom: 5px;
    position: relative;
}

.TopNavBar nav > ul> li.active > a::after,
.TopNavBar nav > ul> li.highlight > a::after
{
    border-bottom: 1px solid #e06567;
    height: 1px;
    position: absolute;
    content: '';
    display: block;
    top: 90%;
    left: 0;
    width: 100%;
    background: #e06567;
    animation: menuSlide 0.5s;
}
@keyframes menuSlide{
    0%{ width: 0; }
    100%{ width: 100%; }
  }

.TopNavBar .submenu{
    background: white;
    display: none;
    position: absolute;
    right: 0;
    top: 100%;
    color: #3d4451;
    box-shadow: 0 0 5px rgba(0,0,0,0.5);
}

.TopNavBar li.active  .submenu{
    display: block;
    animation: subslide 0.3s;
}

.TopNavBar .submenu >li{
    white-space: nowrap;
    padding: 5px 0;
}

@keyframes subslide{
    0%{
        margin-right: 0%;
    }
    100%{
        margin-right: 100%;
    }
}

.TopNavBar .logo{
    font-size: 24px;
    font-family: "Arial Black";
    text-decoration: none;
}

.TopNavBar .logo .rs{
    margin-right: 0px;
    color: #E6686A;
}

.TopNavBar .logo .card{
    color: #9a9da2;
}

.banner{
    height: 515px;
    background-image: url(./img/bg1.jpg);
    background-position: center center;
    background-size: cover;
}

.banner .mask{
    height: 515px;
    background-color: rgba(0, 0,0,0.5);
}

.UserCard{
    max-width: 940px;
    margin-left: auto;
    margin-right: auto;
    background-color: #ffffff;
    box-shadow: 3px 3px 3px -1px rgba(0,0,0,0.49);
}

hr{
    margin: 0;
    border: none;
    border-top: 1px solid #dedede;
}

.UserCard .Welcome{
    background: #E6686A;
    color: white;
    display: inline-block;
    padding: 4px 16px;
    text-align: center;
    line-height: 22px;
    position: relative; 
    margin-bottom: 10px;
}

.UserCard .Welcome .triangle{
    display: block;
    border: 15px solid transparent;
    border-top-width: 0px;
    width: 0px;
    border-left-color: #E6686A;
    position: absolute;
}

.UserCard .picture{
    float: left;
}

.UserCard .text
{
    float: left;
    margin-left: 50px;
    width: 470px;
}

.UserCard .text h1{
    margin-top: 16px;
}

.UserCard .text hr{
    margin: 20px 0;
}

.UserCard .pictureAndText{
    padding: 50px;
}

.UserCard dl{
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.UserCard >dl >dt{
    display: block;
    width: 100px;
    font-weight: bold; 
    float: left;
    padding: 5px 0;
}

.UserCard >dl >dd{
    width: 100px;
    color: #9da0a7; 
    float: left;
    padding: 5px 0;
}

.UserCard > footer.media{
   background-color: #E6686A;
   text-align: center;
}

.UserCard > footer.media >a{
    border: 1px solid black;
    display: inline-block;
    width: 40px;
    border-radius: 50%;
    line-height: 30px;
    padding: 5px 0;
    margin: 10px;
}

.UserCard > footer.media >a:hover{
    background: #cf5d5f;

}

.UserCard svg{
    width: 30px;
    height: 30px;
    fill: white;
    vertical-align: top;
}

.selfIntroduction{
    margin-left: auto;
    margin-right: auto;
    max-width: 940px;
    text-align: center;
    font-family: 'Times New Roman';
    font-size: 18px;
    line-height: 1.8;
}

section.skills,
section.portfolio{
    max-width: 940px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 60px;
}

section.portfolio{
    text-align: center;
    margin-bottom: 20px;
}


section.skills >h2,
section.portfolio >h2{
    color: #3d4451;
    font-size: 34px;
    line-height: 1.2;
    font-weight: 600;
    text-align: center;
}

section.skills h3{
    font-size: 14px;
    line-height: 1.2;
    padding-right: 40px;
}

section.skills >ol{
    background-color: white;
    box-shadow: 3px 3px 3px -1px rgba(0,0,0,0.49);
    padding: 40px 50px 10px;
    margin-top: 30px;
}

section.skills >ol >li{
    float: left;
    width: 48%; 
    box-sizing: border-box;
    padding: 10px;
}

section.skills >ol >li:nth-child(even)
{
    float: right;
}

section.skills .progressBar{
    height: 5px;
    background: #fae1e1;
    margin: 4px 0 40px 0;
    overflow: hidden;
}

section.skills .progressBar .progress{
    height: 100%;
    width: 70%;
    background: #E6686A;
    border-radius: 5px;
    transform: translateX(0);
    transition: all 1s;
}

section.skills.offset .progress{
    transform: translateX(-100%);
}

section.portfolio >nav{
    text-align: center;
    display: inline-block;
    vertical-align: top;
    margin-top: 10px;
}

section.portfolio >nav >ol{
    display: inline-block;
    vertical-align: top;
    margin: 0 auto;
}

section.portfolio > nav > ol > li{
    margin-left: 40px;
    float: left;
    cursor: pointer;
}

section.portfolio > nav > ol > li:first-child
{
    margin-left: 0;
}

section.portfolio >nav .bar{
    height: 5px;
    background: white;
    margin-top: 5px;
    margin-bottom: 20px;
    border-radius: 2px;
}


section.portfolio >nav .bar-inner{
    height: 100%;
    background: #E6686A;
    border-radius: 2px;
    transition: all 0.3s;
}

section.portfolio >nav .bar.state-1 .bar-inner{
    margin-left: 0;
    width: 80px;
}

section.portfolio >nav .bar.state-2 .bar-inner{
    margin-left: 80px;
    width: 90px;
}

section.portfolio >nav .bar.state-3 .bar-inner{
    margin-left: 180px;
    width: 110px;
}

section.portfolio .works{
    position: relative;
}

section.portfolio .works > .big,
section.portfolio .works > .small{
    position: absolute;
}